
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
background-image: linear-gradient(to right, #ff9966, #ff5e62);

    font-family: sans-serif;
}

.text{
    color: #000;
    line-height: 10rem;
    text-align: center;
}

span{
    background: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0.5rem;
    display: inline-block;
    transition: transform 0.2s;
    width: 150px;
}

span:hover{
    transform: scale(1.05);
}

.indicator{
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
    height: 5px;
    border-radius: 4px;
    width: 20%;
    position: fixed;
    top: 0px;
}

