
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

body{
    width: 100%;
    height: 100vh;
   
    /* repeating-linear-gradient(90deg, #aaa 0%, red 50%, red 50% , #555 100%); */
    background-size: 30px 30px;
    background-blend-mode: difference;
    cursor: grab;
    background: linear-gradient(to right, #bf953f, #fcf6ba, #b3b728, #fbf5b7, #aa771c);
    
}

span{
    display: block;
    position: absolute;
    width: 220px;
    height: 220px;
    background: #333;
    pointer-events: none;
    border-radius: 50%;
    background: url("images/gift.jpg");
    background-size: cover;
    background-attachment: fixed;
}